html, body, #root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
}

.content-wrapper {
  padding: 16px;
  background: #fff;
}

.chart-container {
  width: 100%;
  height: 360px;
}


